@charset "UTF-8";

h1 {
	font-family: TimesNewRoman;
	color: Green;
	font-weight: bold;
	text-align: center;
}

body {
	background: lightgrey;
	color: black;
}

table, th, td {
	font-family: TimesNewRoman;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	text-align: center;
	color: green;
}

h2 {
	font-family: TimesNewRoman;
	margin-left: auto;
	margin-right: auto;
	color: green;
	text-align: center;
	margin-right: auto;
}

h3 {
	font-family: TimesNewRoman;
	color: red;
}

h4 {
	font-family: TimesNewRoman;
	font-weight: bold;
}